


.headerstyle{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
};
.emoji-btn{

    background: linear-gradient(to right top, #b2b6bd, #82c8e2, #00dedb, #3aeb9b, #b0eb30);
};
.dogheight{
    height: 20;
    width: 20;
};